/* These are CSS varibles for our colors in the application.
Reference them by typing for example var(--light-pink) */
:root {
  --bright-pink: #ef0e7c;
  --middle-pink: #f6a2b6;
  --light-pink: #fff5f2;
  --cosmo-red: #ef4726;
  --turquoise: #00a99d;
  --light-turquoise: #87d8d6;
  --light-blue: #b4e2f0;
  --yellow: #ffd400;
}

#App {
  width: 90%;
  margin: 0% auto;
  text-align: center;
  background-color: var(--light-pink);
}

.container {
  border-color: red;
  border-width: 0.2em;
  border-style: solid;
}

.centeredContent {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.main {
  margin-bottom: 5%;
}

/* This is the header image */
div.jumbotron-fluid {
  padding: 0em 0em 1em 0em;
  background-color: var(--light-blue);
}

img.header-image {
  padding: 0em;
}

h1.heading {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  font-size: 4.5em;
  color: var(--bright-pink);
  background-color: white;
padding: 0.2em;
}

div#headerHeading {
  width: max-content;
  margin: 0 auto;
}

h2.heading {
  text-align: left;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  font-size: 3.125em;
}

h3.heading {
  text-align: left;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  font-size: 2.25em;
}

#label {
  margin-left: auto;
  margin-right: auto;
  padding: 1% 0 0 0;
  font-weight: bold;
}

img,
p {
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: left;
}

/*This makes the diagaram stick to the bottom of the page in a strange way*/
/* .Diagram {
  height: 50vh;
} */

p {
  font-family: "source-serif-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1875em;
  line-height: 1.6;
}

.infoP {
  border-color: pink;
  border-width: 0.2em;
  border-style: solid;
  padding: 2%;
  margin-top: 1%;
}

.borderImage {
  border-color: pink;
  border-width: 0.2em;
  border-style: solid;
}

.popup {
  font-weight: bold;
  text-align: right !important;
  padding: 0 5% 0 0;
}

div.alignRight {
  display: block;
}
