/* These are CSS varibles for our colors in the application.
Reference them by typing for example var(--light-pink) */
:root {
  --bright-pink: #ef0e7c;
  --middle-pink: #f6a2b6;
  --light-pink: #fff5f2;
  --cosmo-red: #ef4726;
  --turquoise: #00a99d;
  --light-turquoise: #87d8d6;
  --light-blue: #b4e2f0;
  --yellow: #ffd400;
}

#App {
  width: 90%;
  margin: 0% auto 0% auto;
  text-align: center;
  background-color: var(--light-pink);
}
p::selection {
  color: black;
  background: var(--middle-pink);
}
span::selection,
h4::selection {
  color: white;
  background: var(--middle-pink);
}

/* .container {
  border-color: red;
  border-width: 0.2em;
  border-style: solid;
} */

.centeredContent {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.main {
  margin-bottom: 5%;
}

/* This is the header image */
div.jumbotron-fluid {
  padding: 0em 0em 3em 0em;
  background-color: var(--light-blue);
}

img.header-image {
  padding: 0em;
}

h1.heading {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  font-size: 4.5em;
  color: var(--bright-pink);
}

h1 span {
  padding: 1%;
}

div#headerHeading {
  width: max-content;
  margin: 0 auto;
}

h2.heading {
  text-align: left;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  line-height: 2em;
  font-size: 3.125em;
  color: var(--bright-pink);
  width: 100%;
}

h3.heading {
  text-align: left;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  line-height: 2em;
  font-size: 2.25em;
  color: var(--cosmo-red);
  width: 100%;
  text-transform: capitalize;
}

h4.heading {
  text-align: left;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  font-size: 1.8em;
  color: var(--turquoise);
  width: 100%;
}

.spacing {
  margin-bottom: 7%;
}

span {
  background-color: white;
  padding: 2%;
}

h2.separate {
  margin-left: 5%;
  line-height: 2.5em;
}

.headerRow {
  margin-bottom: 2%;
}

p.label {
  margin-left: auto;
  margin-right: auto;
  padding: 1% 0 0 0;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: "source-serif-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 135%;
  line-height: 1.6;
  background-color: white;
  text-align: left;
  padding: 3%;
}

.borderImage {
  max-width: 25vw;
  border-width: 1em;
  border-style: solid;
  border-color: var(--turquoise);
}

.popup {
  text-align: right !important;
  padding: 0 5% 0 0;
}

div.card-title {
  font-weight: bold;
}

div.alignRight {
  display: block;
  padding: 0 5% 0 0;
  text-align: right;
}

.diagram {
  border-width: 0.6em;
  border-style: solid;
  border-color: var(--light-blue);
  padding: 3%;
  margin-top: 3%;
  background-color: white;
}

.beforeAfter {
  border-width: 0.4em;
  border-style: solid;
  border-color: var(--bright-pink);
  background-color: white;
  padding: 3%;
}

div.styles_handle__33IZp {
  top: -20px;
  height: 520px;
  width: 0.3em;
  background: var(--light-turquoise);
}

.infoP {
  padding: 2%;
  margin-top: 2% !important;
}

.checkList {
  text-align: left;

}

.alignMiddle{
  align-items: flex-end;
}

.doubleDiagram {
  padding-top: 3%;
}

.popupBtn {
  border-radius: 0.25rem;
}

button.btn-info,
.popupBtn {
  color: black;
  background-color: var(--yellow);
  border-color: var(--yellow);
  font-weight: bold;
}

button.btn-info:hover,
button.btn-info:active,
button.btn-info:focus,
.popupBtn:hover,
.popupBtn:active,
.popupBtn:focus {
  color: black;
  background-color: var(--middle-pink);
  border-color: var(--middle-pink);
  font-weight: bold;
}

div.popup_inner {
  position: absolute;
  left: 50%;
  margin: auto;
  background: white;
  z-index: 99999;
  border-width: 0.6em;
  border-style: solid;
  border-color: var(--bright-pink);
}

li {
  list-style-type: none;
}

div.recharts-legend-wrapper  {
  right: 2px !important;
}

.footerText {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--bright-pink);
  background-color: transparent;
}

.cosmo {
  padding: 0%;
  letter-spacing: -0.1em;
}

li  {
  font-family: "futura-pt", sans-serif;
  font-size: 105%;
}

