/* These are CSS varibles for our colors in the application.
Reference them by typing for example var(--light-pink) */

:root {
  --bright-pink: #ef0e7c;
  --middle-pink: #f6a2b6;
  --light-pink: #fff5f2;
  --cosmo-red: #ef4726;
  --turquoise: #02958a; /* OLD #00a99d; */
  --light-turquoise: #87d8d6;
  --light-blue: #b4e2f0;
  --cosmo-yellow: #ffd400;
}

#App {
  width: 100%;
  text-align: center;
  background-color: var(--light-pink);
}

#page-content {
  width: 100%;
  margin: 0% auto 0% auto;
}

p::selection {
  color: black;
  background: var(--middle-pink);
}
span::selection,
h4::selection {
  color: white;
  background: var(--middle-pink);
}

.centeredContent {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.main {
  margin-bottom: 5%;
}

/* This is the header image */
div.jumbotron-fluid {
  padding: 0em 0em 3em 0em;
  background-color: var(--light-blue);
  margin-bottom: 0px;
}

img.header-image {
  padding: 0em;
}

#logo {
  width: 12%;
  position: absolute;
  margin: 2%;
}

h1.heading {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  font-size: 4.5em;
  color: var(--turquoise);
  line-height: 1.8em;
}

h1 span {
  padding: 1%;
}

div#headerHeading {
  width: max-content;
  margin: 0 auto;
}

h2.heading {
  text-align: left;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  line-height: 2em;
  font-size: 3.125em;
  color: var(--bright-pink);
  width: 90%;
}

h3.heading {
  text-align: left;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  line-height: 2em;
  font-size: 2.25em;
  color: var(--cosmo-red);
  width: 100%;
  text-transform: capitalize;
}

h4.heading {
  text-align: left;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  font-size: 1.8em;
  color: var(--turquoise);
  width: 100%;
}

.spacing {
  width: 80%;
  margin: 0% auto 7% auto;
}

span {
  background-color: white;
  padding: 1%;
}

.section-white h2 span,
.section-white h3 span {
  background-color: var(--light-pink);
}

h2.separate {
  margin: 0% auto 2% auto;
  line-height: 2em;
}

.headerRow {
  margin-bottom: 2%;
}

p.label-center {
  margin-left: auto;
  margin-right: auto;
  padding: 1% 0 0 0;
  font-weight: bold;
  text-align: center;
}

p.label-left {
  padding: 1% 0 0 0;
  font-weight: bold;
  text-align: left;
}

p {
  font-family: "source-serif-pro", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 135%;
  line-height: 1.6;
  background-color: white;
  text-align: left;
  padding: 3%;
}

.borderImage {
  max-width: 25vw;
  /* border-width: 0.5em;
  border-style: solid;
  border-color: var(--turquoise); */
}

.popup {
  text-align: right !important;
  padding: 0 5% 0 0;
}

div.card-title {
  font-weight: bold;
}

div.alignRight {
  display: block;
  padding: 0 5% 0 0;
  text-align: right;
}

.diagram {
  border-width: 0.6em;
  border-style: solid;
  border-color: var(--light-blue);
  padding: 3%;
  margin-top: 3%;
  background-color: white;
}

.beforeAfter {
  /* border-width: 0.4em;
  border-style: solid;
  border-color: var(--bright-pink); */
  background-color: white;
  padding: 3%;
}

div.styles_handle__33IZp {
  top: -20px;
  height: 520px;
  width: 0.3em;
  background: var(--light-turquoise);
}

.infoP {
  padding: 2%;
  margin-top: 2% !important;
}

.checkList {
  text-align: left;
}

.alignMiddle {
  align-items: center;
}

.compare-container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.doubleDiagram {
  padding-top: 3%;
}

.popupBtn {
  border-radius: 0.25rem;
}

button.btn-info,
.popupBtn {
  color: black;
  background-color: var(--cosmo-yellow);
  border-color: var(--cosmo-yellow);
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 4px grey;
}

button.btn-info:hover,
button.btn-info:active,
button.btn-info:focus,
.popupBtn:hover,
.popupBtn:active,
.popupBtn:focus {
  color: black;
  background-color: var(--middle-pink);
  border-color: var(--middle-pink);
  font-weight: bold;
  box-shadow: 2px 2px 4px grey;
}

div.popup_inner {
  position: absolute;
  left: 50%;
  margin: auto;
  background: white;
  z-index: 99999;
  border-width: 0.6em;
  border-style: solid;
  border-color: var(--bright-pink);
}

li {
  list-style-type: none;
}

div.recharts-legend-wrapper {
  right: 12px !important;
}

.footerText {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--bright-pink);
  background-color: transparent;
}

.cosmo {
  padding: 0%;
  letter-spacing: -0.1em;
}

li {
  font-family: "futura-pt", sans-serif;
  font-size: 105%;
}

.icon-emission {
  color: var(--bright-pink);
}

.icon-temp {
  color: var(--turquoise);
}

.icon-ice {
  color: var(--turquoise);
}

.icon-sea {
  color: #207c97;
}

.section-white {
  background-color: white;
  width: 100%;
  margin: 0% auto 0% auto;
  padding: 3em 0em 1em 0em;
}

.section-pink {
  background-color: var(--light-pink);
  width: 100%;
  margin: 0% auto 0% auto;
  padding: 3em 0em 1em 0em;
}
